h2{
  font-size: 20px;
}

header h2 {
  text-align: center;
}

.round-upper {
  border-radius: 4px 4px 0px 0px;
}

.mode-button {
  border-radius: 4px 0px 0px 0px;
}

#külgMenüü {
  display:none;
  z-index: 3;
}

body{
  font-size: 16px;
}

input{
  width: 80px;
}

#temp_piirang{
  width: 20px;
}

.info, .energiakogus, .paagiMaht, .materjal {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.err{
  display: none;
}

.w3-card {
  text-align: left;
  margin: 8px;
}

#arvuta {
  width: 20%;
  min-width: 200px;
}

.fc2 {
  flex: 31%;
}
.fc1 {
  flex: 60%;
  display: none;
}

/* Järgnevad kolm osa muudavad elementide suurust olenevalt sellest, kui suur on brauseri aken */
@media screen and (max-width: 900px) {
  .fc2 {
    flex: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .fc1 {
    flex: 100%;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    width: 315px;
    font-size: 32px;
  }
}

#märkus_liigutamisest {
  display: none;
  margin-top: 8px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1225px) {
  #märkus_liigutamisest {
    display: block;
  }
}

#joonis{
  max-width: 384px;
  margin: auto;
  display: block;
}

#allaLaadimine{
  margin: -8px 28px 16px;
}

.p-small {
  padding: 0px 8px !important;
}

.tähised{
  list-style-type: none;
}

.tähised, .valemid{
  margin-top: 0px;
}

#plokkskeem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*https://stackoverflow.com/questions/3402295/html-table-with-horizontal-scrolling-first-column-fixed */

.fixed-column{
  overflow-x: auto;
  border: 2px solid #ccc;
  margin-top: 16px;
  scrollbar-color: rgb(26, 26, 26) rgba(0, 0, 0, 0);
}

.fixed-column tr *:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

th, tr:nth-child(even) > td {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) > td {
  background-color: rgb(222, 222, 222);
}

tr:hover > td {
  background-color: rgb(200, 200, 200);
}

#allaLaadimine > span > a {
  display: inline-block;
}

#allaLaadimine > span {
  white-space: nowrap;
}